<?xml version="1.0"?>
<ruleset>
    <file>.</file>
    <arg name="colors"/>
    <arg name="extensions">php</arg>
    <arg name="tab-width">4</arg>
    <arg name="encoding">utf-8</arg>
    <arg name="ignore">*/tests/*</arg>
    <arg name="report-width">100</arg>
    <arg name="warning-severity">0</arg>
    <arg name="error-severity">1</arg>

    <rule ref="WordPress"/>
</ruleset>
